          h1{
            color: white;
            padding: 20px;
          }
          h2, h3, h4{
            color: white;
            padding: 20px;
            display: inline; 
          }
          img {
            display: block;
            margin-left: auto;
            margin-right: auto;
          }
          /*.container-fluid {
            margin: 0;
            padding: 0px;
            background-color: red;
          }
          .logo {
            float: left;
            width: 8%;
          }
          .title {
            margin-top: 20px;
          }*/
          .carousel-inner{
            height: auto;
            
          }
          .carousel1-inner{
            height: auto;
            
          }
          .carousel2-inner{
            height: auto;
            
          }
          p {
            color: white;
            padding: 30px;
          }
          footer {
            color: white;
            background-color: red;
            text-align: center;
            /*border: 1px solid black;*/
            padding: 0px;
            width: 2000px;
            height: 70px;
          }
          body {
            margin: 0px;
            padding: 0px;
            background-color: black;
          }
          .navbar {
           color: black; 
           overflow: hidden;
          background-color: red;
          }
          .navbar a:hover {
            background-color: green;
            color: red;
            }

          .navbar a.active {
            background-color: white;
            color: green;
            }
          .column2{
          float: left;
          width: 32%;
          padding: 20px;
          }
          .row2::after{
          content: "";
          clear: both;
          display: table
          }
